<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="key" value="dLd1LS15q$KHw896fgSVv9@y3e6QDZ" />
    <add key="domain" value="qualidade" />
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="wsBindingNotSecure" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="None">
          </security>
        </binding>
        <binding name="wsBindingSecure" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" negotiateServiceCredential="false" establishSecurityContext="false" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="customBehaviour" name="RoundComb.ServiceLayer.SoapApi.SoapApi">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsBindingNotSecure" contract="RoundComb.ServiceLayer.SoapApi.ISoapApi">          
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/RoundComb.ServiceLayer.SoapApi/V1/SoapApi.svc/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>

        <behavior name="normal">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>

        <behavior name="customBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="RoundComb.Server.Security.UserAuthentication,RoundComb.Server.Security" />

            <serviceCertificate findValue="citiusnext.qualidade.local" storeLocation="LocalMachine" x509FindType="FindBySubjectName" storeName="My" />

          </serviceCredentials>
        </behavior>

      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

  <connectionStrings>
    <add name="GestorDocumental" connectionString="M9dc+bZqT7JLn4Xiel6QBopg/n81zajRebrMxujY6jgbGLV8P3/y/I0zbbF32oEAqxltylF5cuuxVaI6Ziun96OXjJNE+cGEydBow5LxJAUc0AqF48hoic1JpMhE6r/R" />
    <add name="OrquestradorProd" connectionString="idyqohIAiVFZYNSrw0CICfSf8MvTeVkOLnyyihhMFt8rnfn2q2o8WSfLhZjbjZFx30FhnobAnQ63ePFg4QDWsxDMNnYtH+7ZoJOOQytjqTgd6NvY6OxctiTGGt+O70ed1Sz9ywJ22+HMxQLkQiPjfpvXS4qIn1if/e7H3JCMyXA=" />
    <add name="Orquestrador" connectionString="idyqohIAiVFZYNSrw0CICfSf8MvTeVkOLnyyihhMFt8rnfn2q2o8WSfLhZjbjZFx30FhnobAnQ63ePFg4QDWsxDMNnYtH+7ZoJOOQytjqTgd6NvY6OxctiTGGt+O70ed1Sz9ywJ22+HMxQLkQiPjfpvXS4qIn1if/e7H3JCMyXA=" />

  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
